In [18]:
import pandas as pd

In [19]:
dict = {'futebol':2500,'tenis':1500,'volei':2200,'basquete':1888}

In [20]:
obj3 = Series(dict)

In [21]:
print(obj3)

basquete    1888
futebol     2500
tenis       1500
volei       2200
dtype: int64

In [22]:
type(obj3)

pandas.core.series.Series

In [23]:
esportes = ['futebol', 'tenis', 'volei', 'basketball']

In [24]:
type(esportes)

list

In [25]:
obj4 = Series(dict, index=esportes)

In [26]:
print(obj4)

futebol       2500.0
tenis         1500.0
volei         2200.0
basketball       NaN
dtype: float64

In [27]:
type(obj4)

pandas.core.series.Series

In [28]:
pd.isnull(obj4)

futebol       False
tenis         False
volei         False
basketball     True
dtype: bool

In [29]:
pd.notnull(obj4)

futebol        True
tenis          True
volei          True
basketball    False
dtype: bool

In [30]:
obj4.isnull()

futebol       False
tenis         False
volei         False
basketball     True
dtype: bool

In [31]:
obj3 + obj4

basketball       NaN
basquete         NaN
futebol       5000.0
tenis         3000.0
volei         4400.0
dtype: float64