In [1]:
#dataframes representam uma estrutura tabular semelhante a uma planilha de excel, 
#contendo uma coleção de colunas em que cada uma pode ser um tipo diferente de tipo de valor (texto, número, moeda, data, etc)
#Os dados dos dataframes são armazenados em blocos bidimensionais, ao invés de listas ou arrays

In [5]:
from pandas import DataFrame

In [10]:
data = {
    'estado': ['sp', 'sc','pr','go','mg'],
    'ano': [2018, 2000, 2014, 2016, 1999],
    'populacao': [2.1,1.0,1.2,0.6,1.5]
}

In [11]:
frame = DataFrame(data)

In [12]:
type(frame)

pandas.core.frame.DataFrame

In [13]:
print(frame)

    ano estado  populacao
0  2018     sp        2.1
1  2000     sc        1.0
2  2014     pr        1.2
3  2016     go        0.6
4  1999     mg        1.5

In [14]:
frame

    ano estado  populacao
0  2018     sp        2.1
1  2000     sc        1.0
2  2014     pr        1.2
3  2016     go        0.6
4  1999     mg        1.5

In [15]:
frame[:2]

    ano estado  populacao
0  2018     sp        2.1
1  2000     sc        1.0