In [1]:
from pandas import DataFrame

In [2]:
import numpy as np

In [4]:
data = {
    'estado': ['sp', 'sc','pr','go','mg'],
    'ano': [2018, 2000, 2014, 2016, 1999],
    'populacao': [2.1,1.0,1.2,0.6,1.5]
}

In [5]:
frame = DataFrame(data)

In [11]:
frame['debito'] = np.arange(5.)

In [12]:
frame

    ano estado  populacao  debito
0  2018     sp        2.1     0.0
1  2000     sc        1.0     1.0
2  2014     pr        1.2     2.0
3  2016     go        0.6     3.0
4  1999     mg        1.5     4.0

In [13]:
frame.values

array([[2018, 'sp', 2.1, 0.0],
       [2000, 'sc', 1.0, 1.0],
       [2014, 'pr', 1.2, 2.0],
       [2016, 'go', 0.6, 3.0],
       [1999, 'mg', 1.5, 4.0]], dtype=object)

In [9]:
frame.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
frame.describe()

               ano  populacao    debito
count     5.000000   5.000000  5.000000
mean   2009.400000   1.280000  2.000000
std       9.154234   0.563028  1.581139
min    1999.000000   0.600000  0.000000
25%    2000.000000   1.000000  1.000000
50%    2014.000000   1.200000  2.000000
75%    2016.000000   1.500000  3.000000
max    2018.000000   2.100000  4.000000

In [19]:
frame > 2014

     ano  estado  populacao  debito
0   True    True      False   False
1  False    True      False   False
2  False    True      False   False
3   True    True      False   False
4  False    True      False   False

In [21]:
frame.loc[2]

ano          2014
estado         pr
populacao     1.2
debito          2
Name: 2, dtype: object

In [23]:
frame.iloc[4]

ano          1999
estado         mg
populacao     1.5
debito          4
Name: 4, dtype: object

In [24]:
webstats = {
    'dias':[1,2,3],
    'visitantes':[1001, 985, 1986],
    'taxas':[188, 79, 269]
}

In [28]:
df = DataFrame(webstats)

In [26]:
print(df)

   dias  taxas  visitantes
0     1    188        1001
1     2     79         985
2     3    269        1986

In [30]:
df = df.set_index('dias')

In [31]:
print(df)

      taxas  visitantes
dias
1       188        1001
2        79         985
3       269        1986

In [32]:
df.index

Int64Index([1, 2, 3], dtype='int64', name='dias')

In [33]:
df.values

array([[ 188, 1001],
       [  79,  985],
       [ 269, 1986]], dtype=int64)

In [34]:
df.head(2)

      taxas  visitantes
dias
1       188        1001
2        79         985